.ag-theme-alpine {


    --ag-foreground-color: rgb(27, 18, 28);
    --ag-background-color: rgb(241, 241, 241);
    --ag-header-foreground-color: #2a3042;
    --ag-header-background-color: rgb(186, 188, 196);
    --ag-odd-row-background-color: "#2a3042";
    --ag-header-column-resize-handle-color: rgb(41, 24, 45);


    --ag-font-size: 17px;
    --ag-font-family: monospace;
}